.About {
  width: 60vw;
  max-height: 80vh;
  overflow-y:scroll;
}

.About, p {
  font-size: 1.1rem;
}


@media screen and (max-width: 500px) {
  .About, p {
    font-size: 0.9rem;
  }
  .About {
    width: 90vw;
  }
}
