.devIcons {
  width: 60vw;
  text-align: center;
}

.devIcons svg {
  width: 5%;
}

.devIconsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .devIcons svg {
    width: 15%;
  }
  .devIconsWrapper {
    position: absolute;
    width: 90vw;
  }
}
