.Navbar {
  height: 5vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* border: 1px solid red; */
}

.navbarButtons {
  font-size: 2rem;
}

.navbarButtons, a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .Navbar {
    flex-direction: column;
    /* transform:translateY(150%); */
    display: block;
  }
}
