#projectList {
  display:flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  right: 0;
  font-size: 2rem;
}

.projectInfo {
  width: 60vw;
}

.projectInfo img {
  width: 100%;
}


@media screen and (max-width: 500px) {
  #projectList {
    flex-direction: column;
    /* transform:translateY(150%); */
    bottom: 0;
  }
}
@media screen and (min-width: 500px) {
  #projectList {
    font-size: 3vw;
  }
}
