.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#horizontal {
  /* width: 100vw; */
  /* position: absolute; */
  /* border: 0.5px solid fuchsia; */
}

#vertical {
  /* height: 100vh; */
  /* position: absolute; */
  /* border: 0.5px solid fuchsia; */
}


#nameHeader {
  margin: 0;
  border: 0;
  font-size: 4rem;
}

a {
  color: white;
}

.text-appear {
  animation: text-appear 6s linear both;
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
